<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-3">
            <div class="col-lg-3 col-md-6  d-flex">
                <a href="#">
                    <h4>Hướng dẫn mua hàng, thanh toán</h4>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 footer-links d-flex">
                <a href="#">
                    <h4>Chính sách </h4>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 footer-links d-flex">
                <a href="#">
                    <h4>Điều khoản dịch vụ</h4>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
                <h4>Theo dõi Fresh Garden</h4>
                <div class="social-links d-flex">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->
            Designed by NLPN. PS19516
        </div>
    </div>

</footer><!-- End Footer -->
<!-- End Footer -->